.label-filter{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.label-filter p {
    background-color: var(--clr1bg);
    border-radius: 5px;
    padding-left: 4px;
    padding-right: 4px;
    margin-right: 5px;
}