.main-layout {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: '_header'
    '_main'
    'footer';
}

.main-layout {
    grid-area: _main;
    display: flex;
    flex-direction: column;
}

.header {
    grid-area: _header;
}

.footer {
    grid-area: _footer;
}


